.whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .whatsapp .fa-whatsapp {
    font-size: 24px;
  }
  
  .whatsapp:hover {
    background-color: black;
    color: #25d366; /* WhatsApp green color */
  }
  