.headerLogo{
    width: 40%;
}

.footerbtn{
    /* color: white; */
    background-color: yellow;
    font-weight: 600;
    padding: 10px;
}

.footerbtn:hover{
    background-color: white;
    color: black !important;
}